.mainDiv {
    background: cadetblue;

}

.episodeDiv {
    background:grey;
    margin: 5px;
    width: 500px;
    height: 370px;
    border: 1px solid black;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 3px;

}

.charDiv {
    background: cornsilk;
    width: 150px;
    height: 255px;
    margin: 3px;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 25px;
}

img {
    width: 110px;
    height: 110px;
    border-radius: 25px;
}

.episodeInfo {
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    height: 100px;
    padding: 5px;
    border-radius: 25px;
    background: cornsilk;
}

.charMainDiv {
    display: flex;
    justify-content: space-evenly;
}